<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>我的订单</title>
	<link href="../../static/css/bootstrap.css" rel="stylesheet" />
	<script src="../../static/jquery/bootstrap.min.js"></script>
	<script src="../../static/jquery/jquery-1.11.3.min.js"></script>
	</head>

	<body>
		<div class="container">
			<!---->
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">
							<img alt="我的訂單" src="...">
						</a>
					</div>
				</div>
			</nav>
			<!--訂單-->
			<table class="table">
				<tr>

					<th>商品</th>
					<th>单价</th>
					<th>数量</th>
					<th>交易状况</th>
					<th>实际付款</th>
					<th>交易操作</th>
				</tr>
				<!--商品信息-->
				<!--商品图片-->
				<td>
					<div class="row">
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="../../static/book_img/20285763-1_b.jpg"/>
							</a>
						</div>
					</div>
				</td>
				<!--商品名称-->

				<!--商品单价-->
				<td>￥56.9</td>
				<!--商品数量-->
				<td>1</td>
				<!--交易状况-->
				<td>交易成功</td>
				<!--商品总价-->
				<td>￥<span id="totalPrice">56.9</span></td>
				<!--对商品操作操作-->
				<td>
					<a href="#">删除订单</a>
				</td>
				</tr>

			</table>
		</div>
	</body>

</html>